<template>
  <div class='buttonlogout' @click="logout">登出</div>123
</template>

<script>
export default {
  name: "logoutButton",
  methods: {
    logout() {
      this.$store.state.commit('logout')
    },
  }
}
</script>

<style scoped>
.buttonlogout{
  background: aqua;
}
</style>