<template>
  <el-menu>
    1
    <div v-for="(item,i) in pages" class="button">
      <router-link :to="item.path">{{ item.name }}</router-link>
      <!--      {{item.name}}-->
    </div>
  </el-menu>
</template>

<script>
export default {
  name: "sidebar",
  data() {
    return {
      pages: [
        {name: 'overview', path: '/overview'},
        {name: 'chaininfo', path: '/chaininfo'},
        {name: 'deviceinfo', path: '/deviceinfo'},
        {name: 'config', path: '/config'},
      ]
    }
  }
}
</script>

<style scoped>
.button{
  text-align: center;
  margin: 20px;
}
</style>