<template>
  <header v-if="$route.meta.title">
    <div>
      <h1>
        <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
          <h1 class="text-3xl font-bold leading-tight text-gray-900">
            <router-link to="/">{{$route.meta.title}}</router-link>
            |
            <a @click="logout">logout</a>
          </h1>
        </div>
      </h1>
<!--      1-->
    </div>
<!--    <a>123</a>-->
  </header>
</template>

<script>
export default {
name: "vheader",
  methods:{
    logout(){
      // alert('123')
      // this.$store.commit('logout')
      this.$store.state.authorized=false
      console.log(123)
      // console.log(this.$store.state.authorized)
    }
  }
}
</script>

<style scoped>
a{
  background-color: aqua;
}
</style>