<template>
  <blockbar/><el-button @click="fetchData">获取数据</el-button>
<!--  123-->
  <el-table
    :data=d
    stripe=true
    style="width:100%"
    :header-cell-style="{'text-align':'center'}"
    :cell-style="{'text-align':'center'}"
  >
    <el-table-column prop="blockid" label="区块id" width="200"></el-table-column>
    <el-table-column prop="time" label="事件戳" width="100"></el-table-column>
    <el-table-column prop="type" label="数据种类" width="100"></el-table-column>
    <el-table-column prop="deviceid" label="设备id" width="200"></el-table-column>
    <el-table-column prop="data" label="数据状态" width="100"></el-table-column>
  </el-table>
</template>

<script>
import blockbar from "@/components/chaininfo/blockbar.vue";
import axios from 'axios';


export default {
  components: {blockbar},
  name: "chaininfo",
  data(){
    return{
      d:null
    }
  },
  methods:{
    fetchData() {
      axios.get('/blockinfo').then(
          res=>{
            let middle = this.axiosBlockDataProcess(res)
            console.log(middle)
            this.$data.d = middle
          }
      )
    },
    axiosBlockDataProcess(res) {
      return JSON.parse(res.data.data)
    }
  }
}
</script>

<style scoped>

</style>