<template>
  <devicebar></devicebar>
  device-info
  <el-button @click="fetchData">获取数据</el-button>
  <br>
  <el-table
      :data="d.slice((currentPage-1)*pageSize,currentPage*pageSize)"
      stripe=true
      style="width:100%"
      :header-cell-style="{'text-align':'center'}"
      :cell-style="{'text-align':'center'}"
  >
    <el-table-column prop="date" label="日期" width="110"></el-table-column>
    <el-table-column prop="name" label="设备名" width="180"></el-table-column>
    <el-table-column prop="cnode" label="归属中央节点" width="180"></el-table-column>
    <el-table-column prop="oinfo" label="备注" width="180"></el-table-column>
    <el-table-column prop="pubkey" label="公钥(点击复制)" width="180"></el-table-column>
  </el-table>
  <el-pagination
    @size-change="handleSizeChange"
    @current-change="handleCurrentChange"
    :current-page="currentPage"
    :page-sizes="[5,10,20,30,50,100]"
    :page-size="pageSize"
    layout="total,sizes,prev,pager,next,jumper"
    :total="d.length"></el-pagination>
</template>

<script>
import devicebar from "@/components/deviceinfo/devicebar.vue";
import axios from 'axios';

export default {
  components: {devicebar},
  name: "deviceinfo",
  data() {
    return {
      d: [{
        date: '2016-05-02',
        name: '温度传感器',
        cnode: '临城-卫生间'
      }, {
        date: '2019-03-04',
        name: '光照传感器',
        cnode: '老家-杂物间',
      },{
        date: '2016-05-02',
        name: '温度传感器',
        cnode: '临城-卫生间'
      }, {
        date: '2019-03-04',
        name: '光照传感器',
        cnode: '老家-杂物间',
      },{
        date: '2016-05-02',
        name: '温度传感器',
        cnode: '临城-卫生间'
      }, {
        date: '2019-03-04',
        name: '光照传感器',
        cnode: '老家-杂物间',
      },{
        date: '2016-05-02',
        name: '温度传感器',
        cnode: '临城-卫生间'
      }, {
        date: '2019-03-04',
        name: '光照传感器',
        cnode: '老家-杂物间',
      },{
        date: '2016-05-02',
        name: '温度传感器',
        cnode: '临城-卫生间'
      }, {
        date: '2019-03-04',
        name: '光照传感器',
        cnode: '老家-杂物间',
      },{
        date: '2016-05-02',
        name: '温度传感器',
        cnode: '临城-卫生间'
      }, {
        date: '2019-03-04',
        name: '光照传感器',
        cnode: '老家-杂物间',
      }
      ],
      currentPage :1,
      pageSize:5
    }
  },
  mounted() {
  },
  methods: {
    handleSizeChange(val){
      this.pageSize = val;
    },
    handleCurrentChange(val){
      this.currentPage = val;
    },
    fetchData(){
      axios.get('/deviceinfo').then(res=>{
        let middle = this.axiosDataProcess(res)
        console.log(res)
        this.$data.d = middle;
      })
    },
    axiosDataProcess(res){

      let r = JSON.parse(res.data.data)
      console.log(r)
      return r
    }
  }
}
</script>

<style scoped>

</style>