<template>
  <div id="loginBody">
    <div id="bigbox">
      <el-form ref="AccountFrom" :model="account" :rules="rules" label-position="left" label-width="0px"
               class="demo-ruleFrom login-container">
        <h3>系统登录</h3>
        <el-form-item>
          <el-input type="text" v-model="account.username" auto-complete="off" placeholder="用户名"></el-input>
        </el-form-item>
        <el-form-item>
          <el-input type="password" v-model="account.pwd" auto-complete="off" placeholder="密码"></el-input>
        </el-form-item>
        <el-checkbox checked class="remember">记住密码</el-checkbox>
        <el-form-item>
          <el-button type="primary" @click="handleLogin">登录</el-button>
          <el-button>
            <router-link to="/">找回密码</router-link>
          </el-button>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
export default {
  name: "login",
  data() {
    return {
      loggin: false,
      account: {
        username: 'admin',
        pwd: '123456'
      },
      rules: {
        username: [{
          required: true, message: '请输入账号', trigger: 'blur'
        },],
        pwd: [{
          required: true, message: '请输入密码', trigger: 'blur'
        }],
      },
      checked: true
    }
  },
  methods: {
    handleLogin() {
    console.log(123)
      // this.property.authorized=true
      this.$store.state.authorized=true
      document.body.style.background=null
    }
  }
}
</script>

<style scoped>
#loginBody{
  /*background-image: url("public/bgimg.jpg");*/
  margin: 0;
  padding: 0;
}
#bigbox{
  margin: 0 auto;
  margin-top: 200px;
  padding: 20px 50px;
  /*border-color: aqua;*/
  /*border-width: 2px;*/
  width:400px;
  height: 300px;
  background-color: #000000;
}
</style>