<template>
  overview
  <a @click="helloworld">helloworld</a>
  <p>{{count}}</p>
  <div>
    <a @click="selfincrease">加一</a>
  </div>
  <br>-----------<br>
  <div>
    <p>{{res}}</p><br>
    <el-button @click="set_res">
      按下去后將res顯示為mock數據。
    </el-button>
  </div>
  <br>-----------<br>
  <el-button @click="insertCookie">按下以插入cookie</el-button>
  <el-button @click="getCookie">获得cookie</el-button>
  <el-button @click="removeCookie">删除指定cookie</el-button>

</template>

<script>
import axios from 'axios';
import cookie from 'vue-cookie';
export default {
  name: "overview",
  data(){
    return{
      count:1,
      res:null,
    }
  },
  methods: {
    helloworld() {
      axios.post('/').then(res=>{
        // console.log(res)
        console.log(JSON.parse(res.request.response))
      })

    },
    selfincrease(count){
      alert("123")
      this.$data.count++
    },
    set_res(){
      axios.get("/data").then(res=>{
        console.log(res)
        this.$data.res = res
      })
    },
    insertCookie(){
      cookie.set("1",'123')
    },
    getCookie(){
      let key = cookie.get("1")
      alert(key)
    },
    removeCookie(){
      cookie.delete("1")
    }
  },
}
</script>

<style scoped>

</style>