<template>
  <main>

    <div v-if="this.$store.state.authorized">
      <el-container>
        <el-header id="el-header">
          <vheader></vheader>
<!--          <br>-->
<!--          <logoutButton></logoutButton>-->
<!--          <a @click="this.$store.commit('logout')">1223</a>-->
        </el-header>
        <el-container>
          <el-aside>
            <router-link to="/">aside</router-link>
            <sidebar></sidebar>
          </el-aside>
          <el-container>
            <el-main>
              main<br>
              <router-view/>
            </el-main>
            <el-footer>
              footer
            </el-footer>
          </el-container>
        </el-container>
      </el-container>
    </div>
<!--    <div v-else>-->
<!--      login-->
      <login v-else></login>
<!--    </div>-->
  </main>
</template>

<script>
import vheader from "@/components/frame/vheader.vue";
import sidebar from "@/components/frame/sidebar.vue";
import login from "@/views/login.vue";
// import logoutButton from "@/components/frame/logoutButton.vue";

export default {
  components: {vheader, sidebar,login},
  data() {
    return {
      authorized: true,
    }
  },
  created() {
    document.vue = this
  },
  methods:{
    state(){
      return this.$store.state.authorized
    }
  }
}
</script>

<style>
body{
  margin: 0;
  padding: 0;
  /*background-image: url("bgimg.jpg");*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.el-header{
  height: 100px;
}

</style>